@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Jost', sans-serif;
	background: #0066ff;
	overflow-x:hidden;
	overflow-y:hidden;
}

.about {
	padding-top: 100px;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
   	-moz-animation: fadeIn 2s;
   	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
	z-index: 1;
}

h1 {
	text-align: center;
	color: white;
}

h4 {
	letter-spacing: 1px;
}

p {
	display: flex;
	text-align: center;
	font-family: 'Roboto Mono', sans-serif;
	color: white;
}

nav#navb {
	list-style: none;
	float: right;
	padding: 40px;
	letter-spacing: 1px;
	word-spacing: 20px;
}

nav#navb li {
	display: inline;
}

nav#navb a {
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
}

nav#navb a:hover {
	text-decoration: underline;
	color: black;
}

.context {
    width: 100%;
    position: absolute;
    top:17vh;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
	z-index: 1;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

.context h1{
	text-align: center;
    color: #fff;
    font-size: 100px;
}

.context h4 {
	font-family: 'Roboto Mono', sans-serif;
	color: white;
}

.pic {
	width: 15%;
}

nav#navbar li {
	display: inline;
}

nav#navbar a {
	color: white;
	text-decoration: none;
	margin: 0px 15px;
	font-family: 'Roboto Mono', sans-serif;
}

nav#navbar a:hover {
	text-decoration: underline;
	color: black;
}

.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
	opacity: .4;
	position: absolute;
	top: 3%;
	left: 10%;
	background: #66ccff;
	width: 1500px;
	height: 1300px;
	margin-left: -150px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 7000ms infinite linear;
	pointer-events: none;
}

.wave.-three {
	animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #0088cc;
	pointer-events: none;
}

.wave.-two {
	animation: drift 3000ms infinite linear;
	opacity: .1;
	background: black;
	position: fixed;
	pointer-events: none;
}

.box:after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	transform: translate3d(0, 0, 0);
}

@keyframes drift {
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
}

/*Animation*/

@-webkit-keyframes anim{
  0% {
	-webkit-transform: scale(0,0) rotateZ(-90deg);
	transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}
