@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto+Mono:wght@200&display=swap');

body{
    	background-color: #404040;
	color: white;
	font-family: Roboto Mono;
}

p {
	text-decoration: none;
	margin: 0px 5px;
	color: white;
}

h1 {
	font-family: Jost;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: black;
}

